In [30]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
driver = webdriver.Chrome(executable_path="C:\\Users\\Home\\Desktop\\Python\\SeleniumTests\\drivers\\chromedriver.exe")
def data(url):
    comments=[]
    names=[]
    driver.get(url)
    driver.maximize_window()
    height =driver.get_window_size()['height']
    comment_section = driver.find_element_by_xpath('//*[@id="contents"]')
    driver.execute_script("arguments[0].scrollIntoView();", comment_section)
    time.sleep(7)
    oh=driver.execute_script("return document.documentElement.scrollHeight")
    while True:
        try:
            driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")
            time.sleep(2)
            nh = driver.execute_script("return document.documentElement.scrollHeight")
            if nh == oh:
                break   
            oh=nh
        except StaleElementReferenceException:
            break
    names=driver.find_elements_by_xpath('//*[@id="author-text"]')
    comments=driver.find_elements_by_xpath('//*[@id="content-text"]')
    return [names,comments]

In [31]:
import pandas as pd
url=input("Enter url")
data1=data(url)
name=[]
comment=[]
for i in data1[0]:
    name.append(i.text)
for i in data1[1]:
    comment.append(i.text)
driver.close()
df=pd.DataFrame(list(zip(name,comment)),columns=['Name','Comment'])

Enter urlhttps://www.youtube.com/watch?v=MIo0u_ImfHs

In [32]:
df

                    Name                                            Comment
0                    S G  Why take this risk? Juat do something to kidna...
1               M In J’s  The driver jumped out without a problem while ...
2                 Nazaky                       Vin Diesel stealing diesel.
3       Alfredo Bergagna         4:50\nleft rear wheel completely destroyed
4           Diego Plante         6:27 are we just gonna ignore that launch?
...                  ...                                                ...
1294            jhon DOE  i seen every single movie except the fate of t...
1295  nitin kumar nimesh  हे, मैंने आपको 50 रुपए Paytm कैश भेजा है। वह प...
1296                 Ron  If the truck driver can jump into the road nic...
1297        Your Majesty  The truck driver is the hero in this scene, he...
1298        Ahmet CÖMERT  https://www.youtube.com/watch?v=ts7eV_Y9Jf0&t=12s

[1299 rows x 2 columns]

In [57]:
import nltk
import emoji
import re 
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid=SentimentIntensityAnalyzer()
def preprocess(x):
    text=emoji.demojize(x)
    txt=re.sub("[:,_]"," ",text)
    return sid.polarity_scores(txt)['compound']

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Home\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [58]:
df['Score']=df['Comment'].apply(lambda x: preprocess(x))

In [59]:
df

,Name,Comment,Score
0,S G,Why take this risk? Juat do something to kidna...,-0.3767
1,M In J’s,The driver jumped out without a problem while ...,0.6765
2,Nazaky,Vin Diesel stealing diesel.,-0.5719
3,Alfredo Bergagna,4:50\nleft rear wheel completely destroyed,-0.5413
4,Diego Plante,6:27 are we just gonna ignore that launch?,-0.3612
...,...,...,...
1294,jhon DOE,i seen every single movie except the fate of t...,0.0772
1295,nitin kumar nimesh,"हे, मैंने आपको 50 रुपए Paytm कैश भेजा है। वह प...",0.0000
1296,Ron,If the truck driver can jump into the road nic...,0.7190
1297,Your Majesty,"The truck driver is the hero in this scene, he...",0.0258
1298,Ahmet CÖMERT,https://www.youtube.com/watch?v=ts7eV_Y9Jf0&t=12s,0.0000

In [68]:
Final_score = df['Score'].describe().loc['mean']

In [70]:
if Final_score>0:
    print("Positive Reviews\nScore:",Final_score)
elif Final_score<0:
    print("Negative Reviews\nScore:",Final_score)
else :
    print("Moderate Reviews\nScore:",Final_score)

Positive Reviews
Score: 0.09864003079291754